.productPage {
  .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .header {
      .title {
        font-weight: bold;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.65);
        cursor: default;
      }

      .desc {
        font-weight: bold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.65);
        cursor: default;

        span {
          color: orange;
        }
      }
    }

    .newProductBtn {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 6px 7px;
      border-radius: 5px;
      color: rgb(0, 128, 0);
      border: 1px dotted rgba(0, 128, 0, 0.569);
      cursor: pointer;
    }
  }
}
