//.menuBar {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: space-between;
//  padding: 1rem;
//  background-color: #333;
//  color: #fff;
//  transition: all 0.5s ease-in-out;
//  list-style-type: none;
//}
//
//.navbar {
//  display: flex;
//  flex-direction: column;
//  height: 100%;
//  .main_nav {
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//    padding: 30px 45px;
//    .brand_logo {
//      width: 80px;
//      object-fit: cover;
//    }
//
//    .main_nav_actions {
//      display: flex;
//      align-items: center;
//      gap: 30px;
//      .action {
//        display: flex;
//        align-items: center;
//        gap: 8px;
//        cursor: pointer;
//
//        .icon {
//          width: 35px;
//          height: 35px;
//          color: rgba(0, 0, 0, 0.6);
//        }
//
//        h3 {
//          font-size: 18px;
//
//          &:hover {
//            text-decoration: underline;
//          }
//        }
//      }
//    }
//  }
//
//  .sub_nav {
//    display: flex;
//    justify-content: space-between;
//    padding: 0px 45px;
//    margin-bottom: 10px;
//    .nav_main_category {
//      display: flex;
//      gap: 30px;
//
//      span {
//        font-size: 20px;
//        font-weight: 500;
//        cursor: pointer;
//
//        &:hover {
//          text-decoration: underline;
//        }
//      }
//    }
//
//
//  }
//}
//
//
//.open {
//  height: 15rem;
//  transition: all 0.5s ease-in-out;
//}
//@media screen and (min-width: 1024px) {
//  .menuBaring {
//    display: none; /* Hide the navigation on screens wider than 1024 pixels */
//  }
//}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  .main_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 45px;
    .brand_logo {
      width: 80px;
      object-fit: cover;
    }

    .main_nav_actions {
      display: flex;
      align-items: center;
      gap: 30px;
      .action {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        .icon {
          width: 35px;
          height: 35px;
          color: rgba(0, 0, 0, 0.6);
        }

        h3 {
          font-size: 18px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .sub_nav {
    display: flex;
    justify-content: space-between;

    .nav_main_category {
      display: flex;
      gap: 30px;

      span {
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
